<!-- templates/dashboard.html -->
{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static main.css %}">
<div class="container">
  <h2>Your Dashboard</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#recommended-jobs-tab">Recommended Jobs</a></li>
    <li><a href="#career-map-tab">Career Map</a></li>
  </ul>

  <div class="tab-content">
    <div id="recommended-jobs-tab" class="tab-pane fade in active">
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
      <table id="myTable">
        <tr class="header">
          <th style="width:60%;">Name</th>
          <th style="width:40%;">Country</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Berglunds snabbkop</td>
          <td>Sweden</td>
        </tr>
        <tr>
          <td>Island Trading</td>
          <td>UK</td>
        </tr>
        <tr>
          <td>Koniglich Essen</td>
          <td>Germany</td>
        </tr>
      </table>
    </div>
    <div id="career-map-tab" class="tab-pane fade">
      <h3>Career paths people with similar experiences have taken</h3>
    </div>
  </div>
</div>

<!-- TREE DIAGRAM START -->
<style>
  .node {
    cursor: pointer;
  }

  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }

  .node text {
    font: 12px sans-serif;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script>
  var treeData = [
    {
      "name": "Top Level",
      "parent": "null",
      "children": [
        {
          "name": "Level 2: A",
          "parent": "Top Level",
          "children": [
            {
              "name": "Son of A",
              "parent": "Level 2: A"
            },
            {
              "name": "Daughter of A",
              "parent": "Level 2: A"
            }
          ]
        },
        {
          "name": "Level 2: B",
          "parent": "Top Level"
        }
      ]
    }
  ];

</script>
<script src="{% static 'tree_diagram.js' %}"></script>
<!-- TREE DIAGRAM END -->

<script>
  $(document).ready(function () {
    $(".nav-tabs a").click(function () {
      $(this).tab('show');
    });
  });
</script>


{% endblock %}