<!-- templates/dashboard.html -->
{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
{% load static %}

<div class="container">
  <h2>Your Dashboard</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#recommended-jobs-tab">Recommended Jobs</a></li>
    <li><a href="#career-map-tab">Career Map</a></li>
  </ul>

  <div class="tab-content">
    <div id="recommended-jobs-tab" class="tab-pane fade in active">
      <input type="text" id="myInput" placeholder="Search for names..">

      <table id="myTable">
        <tr class="header">
          <th></th>
          <th >Company</th>
          <th >Title</th>
          <th >Industry</th>
          <th >Company Size</th>
          <th >Location</th>
          <th >Estimated Salary</th>
          <th >Match Rate</th>
          <th >Your Position</th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Germany</td>
        </tr>
        <tr>
          <td>Berglunds snabbkop</td>
          <td>Sweden</td>
        </tr>
        <tr>
          <td>Island Trading</td>
          <td>UK</td>
        </tr>
        <tr>
          <td>Koniglich Essen</td>
          <td>Germany</td>
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
            </td>
        </tr>
        <tr>

        </tr>
      </table>
    </div>
    <div id="career-map-tab" class="tab-pane fade">
      <h3>People with similar experiences or skills have taken these paths</h3>
    </div>
  </div>
</div>

<!-- TREE DIAGRAM START -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script>
  var treeData = [
    {
      "name": "Top Level",
      "parent": "null",
      "children": [
        {
          "name": "Level 2: A",
          "parent": "Top Level",
          "children": [
            {
              "name": "Son of A",
              "parent": "Level 2: A"
            },
            {
              "name": "Daughter of A",
              "parent": "Level 2: A"
            }
          ]
        },
        {
          "name": "Level 2: B",
          "parent": "Top Level"
        }
      ]
    }
  ];

</script>
<script src="{% static 'tree_diagram.js' %}"></script>
<!-- TREE DIAGRAM END -->

<script>
  $(document).ready(function () {
    $(".nav-tabs a").click(function () {
      $(this).tab('show');
    });
  });
</script>


{% endblock %}