<!-- templates/dashboard.html -->
{% extends 'base.html' %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Upload Resume{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .btn-file {
      position: relative;
      overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
  </style>
</head>
<body>
  
  <main>
    
    {% block content %}
    <!-- <div class="bg"></div> -->
  
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'home' %}">ReLex</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li class="active"><a href="{% url 'upload' %}">Profile</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
          
          <!-- <li><a href="#">Others</a></li>
          <li><a href="#">Edit Profile</a></li> -->
        </ul>
      </div>
    </nav>
    

    <!-- <div class="container">
      <button class="registration-btn">REGISTER FOR FREE NOW !</button>
      <button class="sign-up-btn">SIGN UP NOW</button>
      
      <input type="text" placeholder="Enter Email" name="email" required>
      <input type="password" placeholder="Drag & Drop File Here" name="psw" required>
    </div> -->
    PLEASE UPLOAD YOUR RESUME HERE !!!

    <span class="btn btn-default btn-file">
      Browse <input type="file">
    </span>

    {% endblock %}
  </main>
</body>
</html>




